{% extends 'base.html.twig' %}

{% block title %}Hello AuthenticationController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    This friendly message is coming from:
</div>
{% endblock %}
